body {
    background-color: rgb(65, 65, 65);
    color: white;
    font-family: JetBrains Mono;
}
.blocks tr > * {
    border: 1px solid;
    width: 100px;
    height: 100px;
}
.green { background-color: green; }
.white { background-color: white; }
.data tr > * {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}