body {
    background-color: rgb(65, 65, 65);
    color: white;
    font-family: JetBrains Mono;
    display: flex;
    justify-content: center;
}
.login {
    padding: 10px;
    background-color: rgb(75, 75, 75);
    text-align: left;
}
.tcenter {
    text-align: center;
}