* {
    text-align: center;
    color: white
}
body {
    font-family: JetBrains Mono;
    background-color: rgb(63, 63, 63);
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #333;
    padding: 10px;
    position: relative;
    z-index: 0;
    text-align: center;
}
header > * { margin: 5px; }
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 50;
}
.overlay > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
main {
    flex: 1;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
main > div {
    z-index: 25;
}
.flower {
    width: 25%;
    height: auto;
    shape-outside: url(img/image-from-rawpixel-id-6184835-original.png);
    transition: 2s;
    float: left;
}
#flower2 {
    float: right;
}
#flower3 {
    filter: brightness(40%);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: auto;
    z-index: 100;
    opacity: 0.5;
}
.flower-text {
    font-size: 2.1vh;
    transition: 1s;
}
footer {
    background-color: #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}
footer > *:hover {
    color: rgb(217, 217, 217);
}