body {
    color: white;
    font-family: JetBrains Mono;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("./img/MinecraftPoster.jpg");
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
}
.minecraft {
    width: 80%;
    height: auto;
    text-align: center;
    border: 3px solid white;
    border-radius: 30px;
    margin-top: 30px;
    padding: 30px;
}
.minecraft > a {
    text-decoration: underline;
    color: white;
}