body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}